
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


html {
    background-color: white;
    width: 100%;
}

#halloj {
    font-size: 18rem;
    font-family: "Archivo Black", sans-serif;
    color: #232b2b;
    letter-spacing: -0.8rem;
    max-width: 82rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0rem;
}

#legend{
    font-size: 1.5rem;
    width: 30rem;
    padding-top: 1rem;
}

#introParagraph {
    font-size: 1rem;
    text-align: right;
    margin-top: 26.5rem;
    color: #232b2b;
}

#introbox {
    float: right; 
    width: 46rem;
    margin-right: 5.7rem;
    border-top: 2px solid #225560;
    height: 44.8rem;
    border-bottom: 2px solid #225560;
    font-family: "Libre Baskerville";
    color: #225560;
    background-color: white;
}

#introbox h3 {
    margin: 0;
    padding: 1rem 0 0 0;
    float: left;
    font-size: 1.5rem;
    float: right;
}

#jag {
    margin-left: 5.7rem;
    width: 500px;
}

#menu {
    list-style-type: none;
    height: 2rem;
    display: block;
    padding: 2rem 0rem;
    border-bottom: 1px solid #232b2b;
    position: sticky;
    top: -2px;
    background-color: white;
    z-index: 3;
}

#menu li {
    display: inline-block;
    font-size: 1.5rem;
    padding: none;
    margin: 0rem 1rem;
    padding: 0rem;
}

#menu ul {
    float: right;
    margin-right: 2rem;
}

h2 {
    font-family: "Libre Baskerville", serif;
    float: left;
    margin-left: 3rem;
    color: #232b2b;
    font-size: 1.5rem;
}

a {
    color: #232b2b;
    text-decoration: none;
}

a:hover {
    color: #225560;
}

a:active {

}











  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .bowlby-one-sc-regular {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }


  .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#projects {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas: 'headline'
    'project1'
    'project2'
    'project3'
    'project4'
}

.project {
    display: grid;
    grid-template-areas: 
    'loremipsum loremipsum'
    'infoText infoText'
    'omslag1 omslag2'
    'omslag3 omslag4';
    grid-area: 'project1';
    justify-content: center;
    gap: 35px;

}

.a.box {
    grid-area: omslag1;
    transition: 0.5s;
}

.b.box {
    grid-area: omslag2;
    transition: 0.5s;
}

.c.box {
    grid-area: omslag3;
    transition: 0.5s;
}

.d.box {
    grid-area: omslag4;
    transition: 0.5s;
}

.project.a .a.box, .project.a .b.box {
    margin-bottom: 35px;
}

.project.b .c.box {
    position: relative;
    top: -338px;
    margin-bottom: 0px;
}

.project.c .d.box {
    position: relative;
    top: -265px;
}

.project.b {
    height: 970px;
    overflow: hidden;
}

.project.c {
    height: 1100px;
    overflow: hidden;
}

.project.a img:hover {
    opacity: 0.1;
    transition: 0.5s;
}

.project h4 {
    grid-area: infoText;
    width: 800px;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

.headline {
    margin: auto;
    grid-area: headline;
    font-size: 8rem;
    font-family: "Archivo Black", sans-serif;
    color: #232b2b;
    letter-spacing: -0.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

  .project img, .project video {
    width: 400px;
  }

.projectName{
    color: #232b2b;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.project.d {
    display:block;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4rem;
    position: relative;
}

.project.d h3 {
    margin-bottom: 2rem;
}

.project.d .a.box {
    display: flex;
    justify-content: center;
}

.project.d img {
    width: 100%;
    padding-top: 2rem;
}

#about {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'rubrik rubrik'
    'skills info'
    'skills kamera'
    'bild kamera'
}

#skills {
    width: 500px;
    grid-area: skills;
    margin-top: 5rem;
}

#about h2 {
    margin: auto;
    grid-area: rubrik;
    font-size: 8rem;
    font-family: "Archivo Black", sans-serif;
    color: #232b2b;
    letter-spacing: -0.8rem;
    margin-top: 3rem;
}

#about p {
    grid-area: info;
    margin-top: 10rem;
    width: 25rem;
    font-family: "Libre Baskerville";
    font-size: 1rem;
    margin-bottom: 2rem;
}

#info_bild {
grid-area: bild;
width: 25rem;
margin-top: 5rem;
}

#bakom_kameran {
    grid-area: kamera;
    width: 25rem;
    margin-top: 5rem;
    }


#contactPage {
    display: grid;
    grid-template-areas: 
    'contactHeadline contactBild'
    'contactP contactBild'
    'footer footer';
    width: 1000px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

#contactPage h3 {
    margin: auto;
    grid-area: contactHeadline;
    font-size: 6rem;
    font-family: "Archivo Black", sans-serif;
    color: #232b2b;
    letter-spacing: -0.8rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#contactPage img {
    grid-area: contactBild;
}

#contactLinks {
grid-area: contactP;
font-size: 1.5rem;
font-family: "Libre Baskerville";
margin-left: 3rem;
justify-content: right;
}

#contactLinks a {
    text-decoration: underline;

}

.hiddenTextA {
    position: relative;
    z-index: -1;
    top: -400px;
    width: 300px;
    padding: 20px;
    font-family: "Libre Baskerville";
    margin-bottom: -200px;
}

.hiddenTextB {
    position: relative;
    z-index: -1;
    top: -285px;
    width: 300px;
    padding: 20px;
    font-family: "Libre Baskerville";
    margin-bottom: -150px;
}

h4 {
    font-weight: 100;
    font-family: "Libre Baskerville";
}


.footer {
    left: 0;
    bottom: -10px;
    width: 100%;
    background-color: #232b2b;
    color: white;
    text-align: center;
    margin-top: 100px;
    grid-area: footer;
  }

  .footer p {
    padding: 30px;
  }


  .footerLinks {
    color: white;
    padding-left: 40px;
    text-decoration: underline;
  }

  .startpageLink a {
    text-decoration: none;
    color:white;
  }

